//FOOTER INDEX//

footer {
	background-color: $cinza;
	color: &preto;
}

.footer_capas {
	a {
		color: $preto;
		&:hover {
			color: $rosa;
		}
	}
	text-align: center;
	font-size: 0.7em;
	padding: 30px;
	width: 50%;
	margin: 0 auto;
	@media (max-width: $tablet) {
		width: 80%;
	}
	@media (max-width: $celular) {
		width: 100%;
		padding: 30px 15px 15px 15px;
	}
}


//FOOTER CONTEUDO//

.footerconteudo .container {
	display: block;
	text-align: center;
	padding: 15px 0;
	a.proximo, a.anterior {
		color: $branco;
		border-radius: 50%;
		width: 30px;
		height: 30px;
	}
	a.proximo {
		float: right;
	}
	a.anterior {
		float: left;
	}
	a.sumariofooter {
		font-size: 1.2em;
		font-weight: bold;
		display: inline-block;
		&:hover {
			text-decoration: none;
			cursor: pointer;
		}
	}
}
