//TEXTO CAPA PORTAL//

.release {
	margin: 100px auto;
	width: 70%;
	h2 {
		color: $rosa;
		padding-bottom: 30px;
	}
}



//FICHA TÉCNICA//
#fichatecnica {
	padding-bottom: 0;
}

.fichalivro {
		h3 {
			margin-bottom: 1em;
		}
	& > div {
		width: 48%;
		float: left;
	}
}

//ISBN//

#linha {
	border-top: 2px solid $cinzaescuro;
	padding-top: 70px;
	p {
		font-size: 0.8em;
	}
}

.isbn {
	border: 1px solid $cinzaescuro;
	padding: 25px;
	width: 70%;
	margin: 0 auto 15px auto;
	.dados {
		width: 60px;
		float: left;
	}
	.info {
		float: right;
		width: calc(100% - 60px);
	}
}

.marcas {
	width: 400px;
	margin: 50px auto 50px auto;
}

a.iniciarebook {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	color: $branco !important;
	font-weight: bold;
	display: block;
	margin: 30px auto;
	position: relative;
	text-align: center;
	border: 2px solid;
	transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
	span {
		position: absolute;
		display: block;
		top: 50%;
	    width: 100%;
	    transform: translateY(-50%);
	}
	&:before {
		content: "";
		width: 315px;
		height: 5px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		z-index: -1;
	}
	&:hover {
		background: $branco !important;
	}
}


//CONTEUDO//

article {
	padding: 100px 0;
	width: 70%;

	//LINK//
	a {
		font-weight: 500;
	}

	//IMAGM//
	figcaption {
		font-size: 0.9em;
	}

	figure {
		margin: 50px 0 20px 0;
		img {
			width: 100%;	
		}
		&.esquerda, &.direita {
			margin: 0;
			width: 30%;
			margin-bottom: 40px;
		}
		&.esquerda {
			float: left;
			margin-right: 40px;
		}
		&.direita {
			float: right;
			margin-left: 40px;
		}
	}

	//CITACAO//
	blockquote {
		font-size: 0.9em;
		font-style: italic;
		padding-left: 100px;
		width: 90%;
	}

	//PAGINACAO//
	.pagina {
		color: $cinzaescuro;
		font-size: 1em;
		font-style: italic;
		text-align: right;
		display: block;
		border-bottom: 1px solid $cinza;
		margin-bottom: 30px;
	}

	//DIALOGOS//
	p.dialogo {
		margin-left: 100px;
	}
}





