//print 

@media print {



* {
//background:transparent !important;
//color: #000 !important;
//text-shadow:none !important;
}

@page { 
	margin-top: 2cm;
	margin-left: 1.5cm;
	margin-right: 2.5cm;
	margin-bottom: 2.5cm;
}

//PADRAO

article {
	width: 100%;
	padding-top: 0;
}

h1, h2, h3, h4 {
	color: $preto;
	margin: 0;
	padding: 35px 0 10px 0;
}

h1 {
	font-size: 1.3em;
	padding: 0 0 10px 0;

}

h2 {
	font-size: 1em;
}

//p

p {
	margin: 0;
	padding-bottom: 20px;
	font-size: 0.7em;
}

//HEADER

.headerindex {
	width: 100%;
	background-image: url(../img/topo.svg);
	display: block;
	padding-bottom: 0;
}

.tituloum {
	display: block;
	img {width: 300px;
		display: block;
		margin: 0 auto;
	}
}

.titulodois {
	font-family: $fonte;
	font-weight: normal;
	font-size: 2em;
	color: $roxo;
	padding-top: 15px;
	padding-left: 0;
}

.autor {
	font-family: $fonte;
	font-weight: normal;
	font-size: 0.75em;
	line-height: 1.4;
	color: white;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

.botoes_index {
	display: none;
}

// .marcaufg {
// 	display: none;
// }

//FICHA TÉCNICA//
#fichatecnica {
	padding-bottom: 0;
}

.fichalivro {
		h3 {
			margin-bottom: 1em;
		}
	& > div {
		width: 48%;
		float: left;
	}
}

//ISBN//

#linha {
	border-top: 2px solid $cinzaescuro;
	padding-top: 70px;
	p {
		font-size: 0.8em;
	}
}

.isbn {
	border: 1px solid $cinzaescuro;
	padding: 25px;
	width: 70%;
	margin: 0 auto 15px auto;
	.dados {
		width: 60px;
		float: left;
	}
	.info {
		float: right;
		width: calc(100% - 60px);
	}
}

.marcas {
	width: 400px;
	margin: 50px auto 50px auto;
}

a.iniciarebook {
	display: none;
}


//HEADER CONTEUDO//

.headerconteudo {
	padding: 15px 0;
	width: 100%;
	height: 140px;
	background-size: cover;
	background-position: center top;
	display: inline-block;
	span {
		display: none;
	}
	h1 {
		padding-top: 30px;
		color: $branco;
	}
	.botoes {
		display: none;	
		}
	}	

//CONTEUDO//

blockquote {
	font-size: 0.9em;
	font-style: italic;
	padding-left: 100px;
	width: 90%;
}

figcaption {
		font-size: 0.9em;
	}

	figure {
		margin: 50px 0 20px 0;
		img {
			width: 100%;	
		}
		&.esquerda, &.direita {
			margin: 0;
			width: 30%;
			margin-bottom: 40px;
		}
		&.esquerda {
			float: left;
			margin-right: 40px;
		}
		&.direita {
			float: right;
			margin-left: 40px;
		}
	}

//IMPRIMIR

.print {
	display: none;
}

.printindex {
	display: none;
}

//LINK//
a {
	font-weight: 500;
}

//IMAGM//
figcaption {
font-size: 0.9em;
}

figure {
margin: 50px auto 20px auto;
width: 70%;
	img {
	width: 100%;
	}
	&.esquerda, &.direita {
		width: 30%;
		margin: 0;
		margin-bottom: 40px;
	}
	&.esquerda {
	float: left;
	margin-right: 40px;
	}
	&.direita {
	float: right;
	margin-left: 40px;
	}
}

//CITACAO//
blockquote {
	font-size: 0.9em;
	font-style: italic;
	padding-left: 100px;
	width: 90%;
}

//PAGINACAO//
.pagina {
	color: $cinzaescuro;
	font-size: 1em;
	font-style: italic;
	text-align: right;
	display: block;
	border-bottom: 1px solid $cinza;
	margin-bottom: 30px;
}

//DIALOGOS//
p.dialogo {
	margin-left: 100px;
}

//BOTOES NOTAS DE RODAPE//
button.bt-nota{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	background-color: black;
	color: white;
	padding: 2px 4px;
	border-radius: 4px;
	&:before{
		content: attr(data-nota);
	}
}

//NOTAS DE RODAPE//

#notas-rodape{
	position: static;
	transform: none;
	background-color: transparent;
	width: 100%;
	max-height: none;
	overflow-y: visible;
	border: 1px solid;
	border-top-width: 20px;
	padding: 1.5em;
	font-size: .8em;
	line-height: 1.5;
	display: block;
	&.visivel{
		display: block;
	}
	button.fechar{
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		margin-bottom: 1em;
		width: 1.25em;
		height: 1.25em;
		display: block;
		background-color: transparent;
		border: none;
		background-image: url(../img/icon_fechar.svg);
		background-size: contain;
		background-repeat: no-repeat;
	}

	.notas{
		div{
			-webkit-hyphens: auto;
			-ms-hyphens: auto;
			hyphens: auto;
			display: block;
			text-align: justify;
			&.atual{
				display: block;
			}
		}
	}
}


//LISTA 

li {
	padding-bottom: 15px;
}

//FOOTER
	footer {
		display: none;
	}

	.footer_capas {
		display: none;
	}


	.footerconteudo {
		display: none;
	}

}
