@import "normalize";
@import "fontface";
@import "padrao";

body, html {overflow-x: hidden;}

body {
	font-weight: normal;
	font-style: normal;
	font-size: 18px;
	line-height: 1.7;
	color: $preto;
	font-family: $fonte;
	// letter-spacing: 0.04em;
	position: relative;
	background-color: $branco;

	&.livro1 {
		.fichalivro h3 {
			color: $rosa;
		}
	}

	&.livro2 {
		.fichalivro h3 {
			color: $roxo;
		}
	}
}

@import "header";
@import "main";
@import "footer";
@import "print";