@import "normalize";
@import "fontface";
@import "padrao";

body, html {overflow-x: hidden;}

body {
	font-weight: normal;
	font-style: normal;
	font-size: 18px;
	line-height: 1.7;
	color: $preto;
	font-family: $fonte;
	// letter-spacing: 0.04em;
	position: relative;
	background-color: $branco;

	&.livro1 {
		.fichalivro h3 { color: $rosa; }
		.headerconteudo {
			background-image: url(../img/topobg1.svg);
		}
		a.iniciarebook {
			background: $rosa;
			border-color: $rosa;
			&:hover { color: $rosa; }
			&:before { background: $rosa; }
		}
		.footerconteudo .container { 
			a.sumariofooter { 
				color: $rosa; 
				&:hover { 
					color: $roxo;
				}
			a.proximo {
				border-radius: 50%;
				background: $rosa;
				width: 30px;
				height: 30px;
			}
			a.anterior {
				border-radius: 50%;
				background: $rosa;
				width: 30px;
				height: 30px;
			}
		}

	}

	&.livro2 {
		.fichalivro h3 { color: $roxo; }
		.headerconteudo { background-image: url(../img/topobg2.svg); }
		a.iniciarebook {
			background: $roxo;
			border-color: $roxo;
			&:hover { color: $roxo; }
			&:before { background: $roxo; }
		}
		.footerconteudo .container{ 
			a.sumariofooter { 
				color: $roxo; 
				&:hover { 
					color: $rosa;
				}
			}
			a.proximo {
				border-radius: 50%;
				background: $roxo;
				width: 30px;
				height: 30px;
			}
			a.anterior {
				border-radius: 50%;
				background: $roxo;
				width: 30px;
				height: 30px;
			}
		}
	}
}

@import "header";
@import "main";
@import "footer";
@import "print"; }