/****************************************
 * ANULAR PADROES DE NAVEGADOR *
 ****************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-decoration: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, p {
  display: block;
}

html, body {
  overflow-x: hidden;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

mark {
  background: none;
  color: inherit;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/subset-Raleway-BoldItalic.woff2") format("woff2"), url("../fonts/subset-Raleway-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/subset-Raleway-Regular.woff2") format("woff2"), url("../fonts/subset-Raleway-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/subset-Raleway-MediumItalic.woff2") format("woff2"), url("../fonts/subset-Raleway-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/subset-Raleway-Bold.woff2") format("woff2"), url("../fonts/subset-Raleway-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/subset-Raleway-Italic.woff2") format("woff2"), url("../fonts/subset-Raleway-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/subset-Raleway-Medium.woff2") format("woff2"), url("../fonts/subset-Raleway-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
.container {
  margin: 0 auto;
  width: 1180px;
}
@media (max-width: 1180px) {
  .container {
    width: 100%;
  }
}

/****************************************
 * DEFINICOES E FORMATACOES DE TEXTO *
 ****************************************/
a:link, a:visited, a:active, a:focus {
  outline: 0;
  color: inherit;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline;
}
a:focus {
  font-weight: bold;
}

b, strong {
  font-weight: bold;
  color: inherit;
}

u {
  text-decoration: underline;
}

i, em {
  color: inherit;
  font-style: italic;
}

s, del {
  text-decoration: line-through;
}

p, article ul, article ol, blockquote, figure {
  margin-bottom: 1em;
}

small {
  font-size: 80%;
}

center {
  text-align: center;
}

h1, h2, h3, h4, h5 {
  line-height: 1.3;
  display: block;
  color: inherit;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}
h1 a, h2 a, h3 a, h4 a, h5 a {
  color: inherit !important;
  text-decoration: none !important;
}

h1 {
  font-size: 1.7em;
}
h1 article {
  font-size: 1.7em;
}
@media (max-width: 680px) {
  h1 {
    font-size: 1.8em;
  }
  h1 article {
    font-size: 1.7em;
  }
}

h2 {
  font-size: 1.4em;
}
@media (max-width: 680px) {
  h2 {
    font-size: 1.5em;
  }
}

h3 {
  font-size: 1.2em;
}
@media (max-width: 680px) {
  h3 {
    font-size: 1.25em;
  }
}

h4 {
  font-size: 1.1em;
}
@media (max-width: 680px) {
  h4 {
    font-size: 1.2em;
  }
}

h5 {
  font-size: 1em;
}
@media (max-width: 680px) {
  h5 {
    font-size: 1em;
  }
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

body, html {
  overflow-x: hidden;
}

body {
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 1.7;
  color: #212121;
  font-family: "Raleway", sans-serif;
  position: relative;
  background-color: #FFF;
}
body.livro1 .fichalivro h3 {
  color: #b20f62;
}
body.livro1 .headerconteudo {
  background-image: url(../img/topobg1.svg);
}
body.livro2 .fichalivro h3 {
  color: #821f81;
}
body.livro2 .headerconteudo {
  background-image: url(../img/topobg2.svg);
}

.headerportal {
  width: 100%;
  min-height: 100vh;
  background-image: url(../img/bg_portal.svg);
  background-size: cover;
  background-position: center top;
}

.titulo_portal {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 3em;
  line-height: 1.2;
  color: white;
  display: block;
  margin-bottom: 30px;
  text-align: center;
}

.botoes_portal {
  display: block;
  text-align: center;
}
.botoes_portal a {
  background-color: #FFF;
  display: inline-block;
  width: 265px;
  height: 265px;
  margin: 40px 20px 0 30px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
}
.botoes_portal a:nth-child(1) svg {
  margin-top: 45px;
}
.botoes_portal a:nth-child(1) svg path {
  fill: #821f81;
}
.botoes_portal a:nth-child(1):hover {
  background: #821f81;
}
.botoes_portal a:nth-child(2) svg {
  margin-top: 45px;
}
.botoes_portal a:nth-child(2) svg path {
  fill: #02969c;
}
.botoes_portal a:nth-child(2):hover {
  background: #02969c;
}
.botoes_portal a svg {
  width: 75%;
  display: inline-block;
  position: relative;
}
.botoes_portal a svg path {
  transition: fill 0.2s ease-in-out;
}
.botoes_portal a:hover svg path {
  fill: #FFF;
}

.marcas {
  margin-top: 150px;
}
.marcas img {
  width: 400px;
}

.headerindex {
  width: 100%;
  min-height: 100vh;
  background-image: url(../img/bg_index1.svg);
  background-size: cover;
  background-position: center top;
}

.tituloum {
  padding-top: 110px;
  display: block;
}
.tituloum img {
  width: 300px;
  display: block;
  margin: 0 auto;
}

.titulodois {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1.4;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.autor {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 0.75em;
  line-height: 1.4;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.botoes_index {
  display: block;
  text-align: center;
}
.botoes_index a {
  font-family: "Raleway", sans-serif;
  background-color: #b20f62;
  font-weight: bold;
  display: inline-block;
  color: #FFF;
  width: 90px;
  height: 90px;
  margin: 30px 20px 0 30px;
  font-size: 0.75em;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.botoes_index a:hover {
  color: #b20f62;
  background-color: #FFF;
}
.botoes_index a span {
  display: inline-block;
  position: relative;
  margin-top: 23px;
}

.headerconteudo {
  padding: 15px 0;
  width: 100%;
  height: 140px;
  background-size: cover;
  background-position: center top;
}
.headerconteudo span {
  font-size: 0.6em;
  color: #FFF;
}
.headerconteudo h1 {
  padding-top: 30px;
  color: #FFF;
}
.headerconteudo .menu {
  float: right;
  width: 50px;
  display: inline-block;
}

.fichalivro {
  margin-top: 100px;
}
.fichalivro h3 {
  margin-bottom: 1em;
}
.fichalivro > div {
  width: 48%;
  float: left;
}

#linha {
  border-top: 2px solid #dedede;
  padding-top: 70px;
}
#linha p {
  font-size: 0.8em;
}

.isbn {
  border: 1px solid #dedede;
  padding: 25px;
  width: 70%;
  margin: 0 auto 15px auto;
}
.isbn .dados {
  width: 60px;
  float: left;
}
.isbn .info {
  float: right;
  width: calc(100% - 60px);
}

.marcas {
  width: 400px;
  margin: 50px auto 50px auto;
}

footer {
  background-color: #f6f6f6;
  color: footer preto;
}

.footer_capas {
  text-align: center;
  font-size: 0.7em;
  padding: 30px;
  width: 50%;
  margin: 0 auto;
}
.footer_capas a {
  color: #212121;
}
.footer_capas a:hover {
  color: #b20f62;
}
@media (max-width: 990px) {
  .footer_capas {
    width: 80%;
  }
}
@media (max-width: 380px) {
  .footer_capas {
    width: 100%;
    padding: 30px 15px 15px 15px;
  }
}

/*# sourceMappingURL=style.css.map */
